body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: skyblue;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 20px;
 
  .project {
  margin-bottom: 20px;
  padding: 8px;
  border: 2px solid grey;
  white-space: normal; /* Allow text to wrap normally */
  overflow-x: auto; /* Enable horizontal scrolling */
  direction: rtl; /* Set the scroll direction from right to left */
  overflow-y: hidden; /* Hide vertical scroll */
}
.project a{
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
}

label, input, textarea {
  margin-bottom: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: scroll;
  width: 100%;
  bottom: 0;
} 
